@import "@/Generals/Styles/Colors/colors";

.header {
  position: relative;
  padding-top: 2rem;

  &__controls {
    &--mobile {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        background: inherit;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__container {
    &--mobile {
      display: flex;
      position: absolute;
      left: 50%;
      flex-direction: column;
      align-items: center;
      transform: translateX(-50%);
      margin-top: 1rem;
      border-radius: 8px;
      background-color: $dark-violet;
      padding: 2rem 1rem;
    }

    &--desktop {
      display: none;
    }

    &--separator {
      margin: 1rem 0;
      border: none;
      background-color: $grayish-violet;
      width: 100%;
      height: 1px;
    }
  }

  &__navbar {
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: $grayish-violet;
      font-weight: bold;
      list-style: none;

      li:hover {
        cursor: pointer;
        color: $cyan;
      }
    }

    &--mobile {
      width: 100%;

      ul {
        flex-direction: column;
        color: white;
      }
    }
  }

  &__access {
    &--mobile {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@media (width >= 992px) {
  .header {
    &__controls {
      &--mobile {
        display: none;
      }
    }

    &__group,
    &__buttons-group {
      display: flex;
      gap: 2rem;
    }

    &__buttons-group {
      gap: 1rem;

      button:nth-child(1) {
        background-color: inherit;
        color: $grayish-violet;
        font-weight: bold;
      }
    }

    &__container {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
