@import "./Fonts/Fonts.scss";

// initial configuration
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-poppins;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

@media (width >= 992px) {
  .container {
    width: 960px;
  }
}

@media (width >= 1200px) {
  .container {
    width: 1140px;
  }
}

@media (width >= 1400px) {
  .container {
    width: 1320px;
  }
}
